
<div class="puzzle">
  <div class="img-box piece-1">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-2">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-3">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-4">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-5">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-6">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-7">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-8">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-9">
    <div class="img"> </div>
  </div>
</div>

<div class="pieces-container">
  <div class="img-box piece-1 js-piece-1">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-2 js-piece-2">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-3 js-piece-3">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-4 js-piece-4">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-5 js-piece-5">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-6 js-piece-6">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-7 js-piece-7">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-8 js-piece-8">
    <div class="img"> </div>
  </div>
  <div class="img-box piece-9 js-piece-9">
    <div class="img"> </div>
  </div>
</div>
