.puzzle-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
  width: 70vw;
}

.drop-target {
  background-color: rgba(100, 100, 100, 1);
  border: 1px solid #fff;
  display: inline-block;
  height: 20vw;
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
  width: 20vw;
  .dragable-box {
    border: none;
    position: static;
  }
}

.pieces-container {
  background: rgba(200, 200, 200, 0.5);
  height: 250px;
  margin: 0 auto;
  max-width: 450px;
  position: relative;
  width: 61vw;
}

.img {
  background: url(../../assets/images/kotel.jpg) center / cover no-repeat;
  height: 60vw;
  margin: 0 auto;
  max-height: 450px;
  max-width: 450px;
  width: 60vw;
}

.dragable-box {
  background-color: rgba(100, 100, 100, 1);
  border: 1px solid #fff;
  display: inline-block;
  height: 20vw;
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
  position: absolute;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  width: 20vw;
}

.dragable-box[data-piece="1"] {
  .img {
    background-position: 0 0;
  }
}
.dragable-box[data-piece="2"] {
  .img {
    background-position: -20vw 0;
    @media(min-width: 750px) {
      background-position: -150px 0;
    }
  }
}
.dragable-box[data-piece="3"] {
  .img {
    background-position: -40vw 0;
    @media(min-width: 750px) {
      background-position: -300px 0;
    }
  }
}
.dragable-box[data-piece="4"] {
  .img {
    background-position: 0 -20vw;
    @media(min-width: 750px) {
      background-position: 0 -150px;
    }
  }
}
.dragable-box[data-piece="5"] {
  .img {
    background-position: -20vw -20vw;
    @media(min-width: 750px) {
      background-position: -150px -150px;
    }
  }
}
.dragable-box[data-piece="6"] {
  .img {
    background-position: -40vw -20vw;
    @media(min-width: 750px) {
      background-position: -300px -150px;
    }
  }
}
.dragable-box[data-piece="7"] {
  .img {
    background-position: 0 -40vw;
    @media(min-width: 750px) {
      background-position: 0 -300px;
    }
  }
}
.dragable-box[data-piece="8"] {
  .img {
    background-position: -20vw -40vw;
    @media(min-width: 750px) {
      background-position: -150px -300px;
    }
  }
}
.dragable-box[data-piece="9"] {
  .img {
    background-position: -40vw -40vw;
    @media(min-width: 750px) {
      background-position: -300px -300px;
    }
  }
}
