h2 {
  text-align: center;
}

button {
  background-color: rgba(0, 128, 0, 0.75);
  color: #fff;
  display: block;
  font-size: 25px;
  margin: 40px auto;
  padding: 15px;
}
button:hover {
  background-color: rgba(0, 128, 0, 1);
}
