
<div *ngIf="authService.isUserEmailLoggedIn">
  <button class="sign-out" (click)="authService.signOut()">Logout</button>
</div>

<div *ngIf="!authService.isUserEmailLoggedIn">
  <!--<button (click) = "onLoginGoogle()">Login with Google Account</button>
  <button (click) = "loginWithEmailForm()">Login with Email / Password</button>-->

  <ng-container *ngIf="true">
    <div *ngIf="isNewUser then nonRegistered else registered">
      <!-- Template will replace this div -->
    </div>

    <ng-template #nonRegistered>
      <h3>Register</h3>
      <router-outlet></router-outlet>
    </ng-template>

    <ng-template #registered>
      <h3>Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onLoginEmail()" novalidate>

        <!--<div style="color: #000; font-size: 10px; padding: 20px 20%;">
          <h5 style="font-size: 12px; margin: 0; text-align: center;">Form validation</h5>
          <p>Form value: {{ loginForm.value | json }}</p>
          <p>Form status: {{ loginForm.status | json }}</p>
          <p>Email errors: {{ email.errors | json }}</p>
          <p>Password errors: {{ password.errors | json }}</p>
        </div>-->

        <div class="form-group">
          <label for="login-email">Email:</label>

          <div *ngIf="email.invalid && email.dirty" class="message is-alert">
            <div *ngIf="email.errors.required">Email is required.</div>
            <div *ngIf="!email.errors.required && email.errors.email">
              {{ email.value }} is not an email
            </div>
            <div *ngIf="email.errors.emailInDB">
              {{ email.value }} is not registered. First register.
            </div>
          </div>
          <div *ngIf="email.valid" class="message is-success">
            {{ email.value }} is registered. Continue with password.
          </div>
          <div *ngIf="email.pending" class="message is-info">
            Hold tight... Checking availability of {{ email.value }}
          </div>

          <input class="form-control" id="login-email" type="email"
              placeholder="Enter your e-mail"
              formControlName="loginEmail" />
        </div>

        <div class="form-group">
          <label for="login-password">Password:</label>

          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="message is-alert">
            <div *ngIf="password.errors.required">Password is required.</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters long.</div>
            <div *ngIf="password.errors.forbiddenString">BobBob cannot be in password.</div>
          </div>

          <input class="form-control" id="login-password" type="password"
              required placeholder="Enter password" autocomplete="new-password"
              formControlName="loginPassword" />
        </div>

        <div class="form-group btn-submit">
          <button class="btn btn-success " type="submit"
              [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>

      <div class="form-group">
        <h4 class="text-primary" (click)="toRegisterEmailForm()">
          Don't have an Account! >> Continue With Register
        </h4>
      </div>
    </ng-template>
  </ng-container>

  <!--
  <a *ngIf="!resetPassword && isValidMailFormat(email)" class="text-danger" (click)="sendResetEmail()">Reset Password for {{email}}</a>
  <p *ngIf="resetPassword" class="text-success">Check your email to reset password!</p>
  -->
</div>
