<div class="start-btns">
  <button (click)="startGame();" *ngIf="!gameStarted">Start Game</button>
  <button (click)="reStartGame();" *ngIf="gameStarted">Restart Game</button>
  <button (click)="stopGame();" *ngIf="gameStarted">Stop Game</button>
</div>

<div class="puzzle-field">
  <div class="drop-target js-drop-target" data-piece="1"></div>
  <div class="drop-target js-drop-target" data-piece="2"></div>
  <div class="drop-target js-drop-target" data-piece="3"></div>
  <div class="drop-target js-drop-target" data-piece="4"></div>
  <div class="drop-target js-drop-target" data-piece="5"></div>
  <div class="drop-target js-drop-target" data-piece="6"></div>
  <div class="drop-target js-drop-target" data-piece="7"></div>
  <div class="drop-target js-drop-target" data-piece="8"></div>
  <div class="drop-target js-drop-target" data-piece="9"></div>
</div>

<div class="pieces-container">
  <div class="dragable-box js-dragable-box" data-piece="1"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="2"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="3"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="4"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="5"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="6"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="7"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="8"><div class="img"></div></div>
  <div class="dragable-box js-dragable-box" data-piece="9"><div class="img"></div></div>
</div>
